{% extends 'base.html.twig' %}
{% block menu %}

{% endblock %}

{% block search %}
    <form method="post" action="{{ path('searchEvaluation') }}" role="search" class="sr-input-func">
        <input type="text" id="search" placeholder="Search..."  name="search" class="search-int form-control">
        <a href="#"><i class="fa fa-search"></i></a>
    </form>
{% endblock %}
{% block title %}Evaluation index{% endblock %}

{% block body %}

    <h1>Evaluations list</h1>

    <table class="table" id="tableac">
        <thead>
        <tr>
            <th>Evaluation Nom</th>
            <th>Description</th>
            <th>Formation</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody >
        {% for evaluation in evaluations %}
            <tr>
                <td>{{ evaluation.evalNom }}</td>
                <td>{{ evaluation.description }}</td>
                <td>{{ evaluation.idForm.titre}}</td>
                <td>
                    <a href="{{ path('evaluation_show', {'evalNom': evaluation.evalNom}) }}">show</a>
                    <a href="{{ path('evaluation_edit', {'evalNom': evaluation.evalNom}) }}"><button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script>
            $(document).ready(function(){
                $('#search').keyup(function(){
                    search_table($(this).val());
                });
                function search_table(value){
                    $('#tableac tbody tr').each(function(){
                        var found = 'false';
                        $(this).each(function(){
                            if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0)
                            {
                                found = 'true';
                            }
                        });
                        if(found === 'true')
                        {
                            $(this).show();

                        }
                        else
                        {
                            $(this).hide();

                        }
                    });
                }
            });
        </script>
            </table>

    <a href="{{ path('evaluation_new') }}">Create new</a>




{% endblock %}